<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442143195095-5md5ls01rma25ci1k50isfi9qos5njja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442143195095-5md5ls01rma25ci1k50isfi9qos5njja</string>
	<key>API_KEY</key>
	<string>AIzaSyDgLXuIe_UU1IPcy5opexMif51w7SlKsMg</string>
	<key>GCM_SENDER_ID</key>
	<string>442143195095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-52da5</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-52da5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442143195095:ios:3d712ea4c7c62c8cd3d592</string>
</dict>
</plist>